.styleform {
    align-content: center;
    color:cadetblue;
    text-shadow: 30px;
}

header{
    background-color: #333333;
}

.h1 {
    color: #eee;
    font-size: 28px;
}

body {
background-color: #333333;
}

img {
    border-radius: 8px;
}

.section1 {
    background-color: cadetblue
}

